__pycache__/
.ipynb_checkpoints
.DS_Store
.virtual_documents/
app/g_credential.json
app/config.py
nbs/img_test
nbs/config.py
nbs/g_credential.json
src/g_credential.json
src/config.py
src/test_script.py
data/