jupyterlab
jupyterlab-drawio
jupyterlab-git
jupyterlab-pygments
jupyterlab-spellchecker
matplotlib
numpy
opencv-python==4.6.0.66
pandas
pytesseract==0.3.10
python-telegram-bot
scikit-learn
seaborn
telebot
